<section class="py-2">
    <div class="row">
        <div class="col-md-6 tex-center">
            <h1 class="display-3 mt-3 pt-5">
                Web Development Course
            </h1>
            <p class="lead">
                Learn Web Development Front to Back
            </p>
            <form action="/charge" method="POST">
            <script src="https://checkout.stripe.com/checkout.js" 
                    class="stripe-button" 
                    data-key="pk_test_kDeh3ASimCn4o7ek3IAdvfFA" 
                    data-amount="2500"
                    data-name="Web Development Course" 
                    data-description="The Complete Web Development Course" 
                    data-image="/img/marketplace.png"
                    data-locale="auto"
            >
            </script>
            <script>
                //Hide default stripe button
                document.getElementsByClassName("stripe-button-el")[0].style.display = "none";
            </script>
            <button type="submit" class="btn btn-outline-dark text-white btn-lg">Purchase For $25</button>
        </form>
        </div>
        <div class="col-md-6 pt-5">
            <img src="/img/image2.png" alt="" class="img-fluid">
        </div>
    </div>
</section>